/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #2256FC;
  background-image: url('/img/stamp.svg');
  background-size: auto 90%;
  background-position: right center;
  background-repeat: no-repeat;
}

.heroBanner .hero__subtitle {
  color: #FFFFFF !important;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
